{
"page_1": {"type": "message", "text": "Hello, World!"},
"page_2": {"type": "image", "url": "https://pbs.twimg.com/media/FA9JY82XMAMB9G9?format=jpg&name=large"},
"page_3": {"type": "web", "url": "https://www.perdu.com/"},
"page_4": {"type": "videostream", "url": "rtmp://192.168.1.123/live/livestream"},
"page": 1
}
